@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px; /* Çok ince bir yapı */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3); /* Hafif gri ve şeffaf */
  border-radius: 20px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* Karanlık modda daha yumuşak */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox için */
}

/* Dark mode aktifken tüm yazıların beyaz olmasını garanti eder */
.dark body {
  background-color: #0f172a; /* bg-slate-900 */
  color: #ffffff;
}

/* Görev metinleri gibi alanlar için genel kural */
.dark .text-slate-800, 
.dark .text-slate-900 {
  color: #ffffff !important;
}